.box{
    position: absolute;
    border: 1px solid black;
    background-color: rgb(182, 239, 238);
    width: 45vw;
    padding: 0.5%;
}
.tile{
    position: relative;
    width: 30vw;
    height: 14vw;
    background-color: rgba(157, 159, 170, 0.748);
    margin: 1%;
}
.eachRow{
    display: flex;
}
.slice1{
    position: absolute;
    left: 60%;
    top: 15%;
}
.slice2{
    position: absolute;
    left: 71%;
    top: 15%;
}
.slice3{
    position: absolute;
    left: 82%;
    top: 15%;
}
.slice4{
    position: absolute;
    left: 60%;
    top: 38%;
}
.slice5{
    position: absolute;
    left: 71%;
    top: 38%;
}
.slice6{
    position: absolute;
    left: 82%;
    top: 38%;
}
.slice7{
    position: absolute;
    left: 60%;
    top: 61%;
}
.slice8{
    position: absolute;
    left: 71%;
    top: 61%;
}
.slice9{
    position: absolute;
    left: 82%;
    top: 61%;
}